<section class="container mx-auto" id="doctorDashboardContainer">
  <div class="row" style="margin: 30px;">
    <h1>Welcome to your dashboard</h1>
  </div>
  <br />
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h2>Your information</h2>
      </div>
      <div class="card-body">
        <p>Name: {{{first_name}}} {{{last_name}}}</p>
        <p>Your Intro: {{{intro}}}</p>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h2>Your Patients</h2>
      </div>
      <div class="card-body">
        {{#if doctor.doctors_patient.length}}
        <p>Number of Visits: {{{doctors_patient.length}}}</p>
        {{#each doctors_patient as |patient|}}
        <p>Your Patient's Name: {{{first_name}}}{{{last_name}}}</p>
        {{/each}}
        {{/if}}
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h2>Your messages</h2>
      </div>
      <div class="card-body"></div>
      <div class="card-footer"></div>
    </div>
  </div>
  </div>
</section>

<script src="../js/doctor_dashboard.js"></script>