<section class="container mx-auto" id="patientDashboardContainer">
  <div class="row justify-content-center" style="margin: 30px;">
    <h1>Welcome to your dashboard</h1>
  </div>
  <br />
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h2>Your Information</h2>
      </div>
      <div class="card-body" id="patientInfoBody">
        <p>Title: {{{title}}}</p>
        <p>Name: {{{first_name}}} {{{last_name}}}</p>
        <p>Date of Birth: {{{format_date dob}}} </p>
        <p>Email: {{{email}}} </p>
        <p>Registration Date: {{{format_date date_created}}}</p>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h2 style="display: inline;">Your Previous Visits - {{{visits.length}}}</h2>
        <button type="button" class="btn btn-success" id="newVisitStartBtn" style="float: right;">Start a new virtual
          visit</button>
      </div>
      <div class="card-body" id="previousVisitBody">
        {{#if visits.length}}
        {{#each visits as |visit|}}
        <div class="row" id="previousVisitRow">
          <p>Date: {{{format_date visit.date_visited}}} with Dr. {{{visit.doctor.last_name}}}.</p>
          <p>You presented with these symptoms:
          <ul>
            {{#each visit.visits_stdmodel as |std|}}
            <li>{{{std.symptom}}}</li>
            {{/each}}
          </ul>
          </p>

          <p>You were assigned the following tests:
          <ul>
            {{#each visit.visits_stdmodel as |std|}}
            <li>{{{std.test}}}{{#if std.visit_symptoms.is_positive}} (positive) {{/if}}</li>
            {{/each}}
          </ul>
          <p> Based on your test results, Dr. {{{visit.doctor.last_name}}} gave you the diagnosis of
            {{#each visit.visits_stdmodel as |std|}}
            {{#if std.visit_symptoms.is_positive}} "{{{std.diagnosis}}}" {{/if}} {{/each}}.
          </p>
        </div>
        <br />
        {{/each}}
        {{else}}
        <h4>You haven't had any visits yet!</h4>
        {{/if}}
      </div>
    </div>
  </div>
</section>

<script src="../js/patient_dashboard.js"></script>